.fa {
  color: #8b8b8b;!important;
}

.fa-solid {
  color: #8b8b8b;!important;
}

.fa-solid:hover {
  color: #5c5b5b;!important;
}

.fa-brands {
  color: #8b8b8b;!important;
}

.fa-brands:hover {
  color: #5c5b5b;!important;
}

.container-fluid {
  max-width: 1000px;
  margin-top: 30px;
}
